<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunwa.aggregationmall.dao.pdd.PddOrderMapper">
    <!--<resultMap id="BaseResultMap" type="com.yunwa.taobaoke.pojo.PddOrder">
  <id column="order_sn" jdbcType="VARCHAR" property="orderSn" />
  <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
  <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
  <result column="goods_quantity" jdbcType="BIGINT" property="goodsQuantity" />
  <result column="goods_price" jdbcType="BIGINT" property="goodsPrice" />
  <result column="order_amount" jdbcType="BIGINT" property="orderAmount" />
  <result column="promotion_rate" jdbcType="BIGINT" property="promotionRate" />
  <result column="promotion_amount" jdbcType="BIGINT" property="promotionAmount" />
  <result column="order_status" jdbcType="INTEGER" property="orderStatus" />
  <result column="order_status_desc" jdbcType="VARCHAR" property="orderStatusDesc" />
  <result column="order_create_time" jdbcType="BIGINT" property="orderCreateTime" />
  <result column="order_pay_time" jdbcType="BIGINT" property="orderPayTime" />
  <result column="order_receive_time" jdbcType="BIGINT" property="orderReceiveTime" />
  <result column="auth_duo_id" jdbcType="BIGINT" property="authDuoId" />
  <result column="zs_duo_id" jdbcType="BIGINT" property="zsDuoId" />
  <result column="p_id" jdbcType="VARCHAR" property="pId" />
  <result column="user_id" jdbcType="BIGINT" property="userId" />
  <result column="promotion_status" jdbcType="INTEGER" property="promotionStatus" />
  <result column="real_promotion_amount" jdbcType="BIGINT" property="realPromotionAmount" />
</resultMap>-->

    <sql id="Base_Column_List">
    order_sn, goods_id, goods_name, goods_quantity, goods_price, order_amount, promotion_rate,
    promotion_amount, order_status, order_status_desc, auth_duo_id, zs_duo_id, p_id, user_id,
    promotion_status, real_promotion_amount
  </sql>

    <!--查询订单信息-->
    <select id="selectByOrderSn" parameterType="java.lang.String" resultType="com.yunwa.aggregationmall.pojo.pdd.po.PddOrder">
        select
        <include refid="Base_Column_List" />
        from pdd_order
        where order_sn = #{order_sn,jdbcType=VARCHAR}
    </select>

    <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
      delete from pdd_order
      where order_sn = #{orderSn,jdbcType=VARCHAR}
    </delete>-->
    <!--插入订单信息-->
    <insert id="insertOrderData" parameterType="com.yunwa.aggregationmall.pojo.pdd.po.PddOrder">
    insert into pdd_order (order_sn, goods_id, goods_name,
      goods_quantity, goods_price, order_amount,
      promotion_rate, promotion_amount, order_status,
      order_status_desc, auth_duo_id, zs_duo_id,
      p_id, user_id, real_promotion_amount)
    values (#{order_sn,jdbcType=VARCHAR}, #{goods_id,jdbcType=BIGINT}, #{goods_name,jdbcType=VARCHAR},
      #{goods_quantity,jdbcType=BIGINT}, #{goods_price,jdbcType=BIGINT}, #{order_amount,jdbcType=BIGINT},
      #{promotion_rate,jdbcType=BIGINT}, #{promotion_amount,jdbcType=BIGINT}, #{order_status,jdbcType=INTEGER},
      #{order_status_desc,jdbcType=VARCHAR}, #{auth_duo_id,jdbcType=BIGINT}, #{zs_duo_id,jdbcType=BIGINT},
      #{p_id,jdbcType=VARCHAR}, #{user_id,jdbcType=VARCHAR}, #{real_promotion_amount,jdbcType=BIGINT})
    </insert>

    <!--获取该用户所有的订单号-->
    <select id="getAllOrderSn" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT order_sn FROM pdd_order WHERE user_id = #{user_id};
    </select>

    <!--更新用户订单状态-->
    <!--<insert id="updateOrder" parameterType="com.yunwa.aggregationmall.pojo.pdd.po.PddOrder">
        INSERT INTO `pdd_order`(`order_sn`, `goods_id`, `goods_name`, `goods_quantity`, `goods_price`,
          `order_amount`, `order_status`, `order_status_desc`, `promotion_status`)
        VALUES (#{order_sn,jdbcType=VARCHAR}, #{goods_id,jdbcType=BIGINT}, #{goods_name,jdbcType=VARCHAR},
          #{goods_quantity,jdbcType=BIGINT}, #{goods_price,jdbcType=BIGINT}, #{order_amount,jdbcType=BIGINT},
          #{order_status,jdbcType=INTEGER}, #{order_status_desc,jdbcType=VARCHAR},
          #{promotion_status,jdbcType=INTEGER})
        ON DUPLICATE KEY UPDATE `order_sn` = VALUES(`order_sn`), `goods_id` = VALUES(`goods_id`),
          `goods_name` = VALUES(`goods_name`), `goods_quantity` = VALUES(`goods_quantity`), `goods_price` = VALUES(`goods_price`),
		  `order_amount` = VALUES(`order_amount`), `order_status` = VALUES(`order_status`), `order_status_desc` = VALUES(`order_status_desc`),
          `promotion_status` = VALUES(`promotion_status`)
    </insert>-->

    <!--更新用户订单状态-->
    <update id="updateOrder" parameterType="com.yunwa.aggregationmall.pojo.pdd.po.PddOrder">
        UPDATE pdd_order
        SET `order_status` = #{order_status,jdbcType=INTEGER}, `order_status_desc` = #{order_status_desc,jdbcType=VARCHAR}
        WHERE `order_sn` = #{order_sn,jdbcType=VARCHAR}
    </update>

    <!--已完成的订单的佣金总额-->
    <select id="getTotalRealPromotionAmount" parameterType="java.lang.String" resultType="java.lang.Long">
        SELECT SUM(`real_promotion_amount`)
        FROM`pdd_order`
        WHERE user_id = #{user_id,jdbcType=BIGINT}
        AND `order_status` = 5 AND `promotion_status` = 1
    </select>

    <!--将已完成的订单移入finished_order-->
    <insert id="moveToFinishedOrder" parameterType="java.lang.String">
        insert into `finished_order`
          select * from `pdd_order`
          WHERE user_id = #{user_id,jdbcType=VARCHAR}
          AND `order_status` = 5 and `promotion_status` = 0
    </insert>

    <!--删除订单表中已完成返佣的订单-->
    <delete id="deleteFinishedOrder" parameterType="java.lang.String">
      DELETE FROM `pdd_order`
      WHERE `user_id` = #{user_id,jdbcType=VARCHAR}
      AND `order_status` = 5 AND `promotion_status` = 0
    </delete>

    <!--更改返佣状态-->
    <update id="changePromotionStatus" parameterType="java.lang.String">
        UPDATE `pdd_order`
        SET `promotion_status` = 0
        WHERE `order_status` = 5 AND `user_id` = #{user_id,jdbcType=VARCHAR}
    </update>

    <!--查询拼多多返佣-->
    <select id="selectPddPromotionAmount" parameterType="java.lang.String" resultType="com.yunwa.aggregationmall.pojo.CommissionDTO">
        SELECT COUNT(order_sn) AS `orderCount`, SUM(`real_promotion_amount`) AS `totalPromotion`
        FROM `pdd_order`
        WHERE promotion_status = 1 AND user_id = #{user_id,jdbcType=VARCHAR}
    </select>

    <!--查询被冻结佣金-->
    <select id="getFrozenPromotion" parameterType="java.lang.String" resultType="java.lang.Long">
        SELECT SUM(`real_promotion_amount`)
        FROM`pdd_order`
        WHERE user_id = #{user_id,jdbcType=BIGINT}
        AND `promotion_status` = 1
        AND `order_status` in (2, 3)
    </select>

    <!--删除订单-->
    <delete id="deleteByOrderSn" parameterType="java.lang.String">
        DELETE FROM `pdd_order`
        WHERE `order_sn` = #{order_sn,jdbcType=VARCHAR}
    </delete>
</mapper>