body{
    max-width: 600px ;
    margin: 0 auto !important;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    /*box-sizing: border-box;*/
}
*{
    margin: 0;
    padding: 0;
}
.serch{
    width: 100%;
    height: 48px;
    box-sizing: border-box;
}
.serch-box{
    max-width: 600px;

    background: linear-gradient(90deg,#FF9053,#fc3757);
    position: fixed;
    width: 100%;
    top: 0;
    text-align: center;
    height: 48px;
    line-height: 48px;
    color: #868686;
    z-index: 2;
}
.serch-reletive{
    position: relative;
    width: 92%;
    display: inline-block;
}
.content::placeholder{
    color: #fff;
}

.content{
    width: 100%;
    background-color: rgba(255,255,255,.4);
    color: #fff;
    padding: 0px 12px 0 12px;
    line-height: 34px;
    text-align: left;
    font-size: 14px;
    height: 34px;
    border-radius: 3px;
    box-sizing: border-box;
}
.return-box{
    background-color: rgba(130, 77, 77, 0.84);
    border: 2px solid transparent;
    margin-left: 10px;
    top: 64px;
    display: block;
    position: fixed;
    font-size: 10px;
    background-size: 39px 39px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
}
.ico{
    position: absolute;
    top: 0;
    right: 12px;
    font-size: 16px;
    color: #fff;
    margin-right: 3px;
}
.banner-content{
    width: 100%;
    margin-bottom: 5px;
    position: relative;
}
.banner-img{
    width: 100%;
    position:relative;
    overflow: hidden;
    height: 370px;
}

.banimg1{
    width: 100%;
    height: 370px;
}
.banner-img>a{
    display: none;
    width: 100%;
    /* display: inline-block; */
   position: absolute;
} 
.banner-img a.active{
    display: block;
}
.banimg1{
    width: 100%;
    height: 370px;
}
.slide-buttle{
    position: absolute;
    width: 100%;
    height: 20px;
    /*background-color: red;*/
    bottom: 10px;
    text-align: center;
 }
.slide-buttle span{
    display:inline-block;
    background-color: #fff;
    height: 8px;
    width: 8px;
    border-radius: 100%;
    margin: 0 6px;
}
/* .bullter
   {display:inline-block;
    background-color: #fb5c27;
    height: 8px;
    width: 8px;
    border-radius: 100%;
} */
/*.slide-buttle span.bullter{
    background-color: #fb5c27;
}*/
.info{
    padding: 15px 15px 0 15px;
}
.gico-tb{
    display: inline-block;
    background-position: -68px 0px;
    background-image: url('../../images/pdd/gicon.png');
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    float: left;
    margin-right: 4px;
    margin-top: 3px;
}
.price{
    height: 28px;
    line-height: 28px;
    padding: 12px;
    position: relative;
}
.money{
    color: #696969;
    font-size: 12px;
}
.money-later{
    color: #FE814B;
    font-size: 20px
}
.money-before{
    color: #C7C4C4;
    font-size: 12px
}
.count{
    color: #696969;
    font-size: 12px;
}
.strong{
    position: absolute;
    right: 0;
    top: 20px;
    display: inline-block;
    padding-left: 1px;
    padding-right: 18px;
    height: 16px;
    line-height: 16px;
    text-align: left;
    font-size: 11px;
    background: linear-gradient(180deg,#FE814B,#EDB361)
}
.tiket-money{
    display: inline-block;
    height: 14px;
    line-height: 14px;
    padding: 0 2px;
    color: #FE814B;
    background-color: #FFF
}
.tiket{
    position: absolute;
    right: 0;
    top: 1px;
    height: 14px;
    line-height: 14px;
    padding: 0 4px;
    font-size: 9px;
    color: #FFF;
}
.command-content{
    margin-bottom: 5px;
    background: #faf5f6;
    padding: 10px 0;
}
.command-code{
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding-right: 80px;
}
.code-box{
    height: 40px;
    color: #7f4900;
    line-height: 40px;
    width: 100%;
    background: white;
    font-size: 20px;
    border: dashed 1px #ff4400;
    box-sizing: border-box;
    position:relative;
    border-right: 0;
}
.code{
    text-align: center;
    padding-left: 0;
    line-height: 38px;
    height: 38px;
    border: none;
    font-size: 20px;
    /*font-weight: 600;*/
    /*letter-spacing: 2px;*/
    font-family: "Microsoft Yahei"
}
.copy{
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 40px;
    background: #ff4400;
    display: block;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border: none;
    font-size: 12px;
}
.score-box{
    margin-bottom: 5px;
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    padding: 10px;
    text-align: left;
    border-bottom: #e9e5e6 1px solid;
}
.store{
    height: 30px;
}
.synopsis{
    margin-bottom: 5px;
}
.syn-detail{
    border-bottom: #e9e5e6 1px solid;
    width: 100%;
    background: white;
    text-align: left;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
}
.syn-title{
    font-weight: 700;
    font-size: 14px;
    color: #000;
}
.syn-show{
    font-size: 12px;
    display: block;
    color: #a1a1a1;
    margin-top: 3px;
    text-align: left;
    padding: 1px;
    box-sizing: border-box;
}
.text-content{
    margin-bottom: 0;
}
.img-text-detail{
    border-bottom: #e9e5e6 1px solid;
    width: 100%;
    background: white;
    text-align: left;
    overflow: hidden;
    padding: 10px;
}
.img-text-btn{
    margin: 0 auto;
}
.text-btn-span{
    border: #ff6a00 1px solid;
    color: #ff6a00;
    border-radius: 16px;
    margin: 12px auto;
    width: 110px;
    height: 25px;
    display: block;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
}
.footer-content{
    margin-bottom: 60px;
    background-color: #fff;
    text-align: center;
    padding: 15px 5px 20px;
    font-size: 12px;
}
.copyright{
    line-height: 16px;
    margin-top: 4px;
    text-shadow: 0 1px 1px #fff;
    display: block;
}
.footer-fixed{
    border-color: #e5e5e5;
    height: 47px;
    position: fixed;
    color: #333;
    bottom: 0;
    width: 100%;
    max-width: 600px;
    z-index: 100;
}
.navbar{
    background-color: #fff;
    width: 30%;
    height: 100%;
    float: left;
    border-top: 1px solid #E5E5E5;
    color: #373737;
}
.navbar-content{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    color: #333;
}
.navbar-btn{
    width: 35%;
}

.sub-img{
    margin-top: 3px;
    height: 26px;
    width: auto;
}
.sub-img-content{
    text-align: center;
}
.foot-sub{
    font-size: 12px;
    text-align: center;
    /*color: #fff;*/
}
.foot-btn{
    height: 100%;
    display: block;
    line-height: 50px
}
.foot-btn-left{
    background: linear-gradient(90deg,#ffa957,#ffa800);
    color: #fff
}
.foot-btn-right{
background:linear-gradient(90deg,#ff00d0,#ff1c00);
    color: #fff
}

.detaile-hidden{
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    background-color: rgba(0,0,0,.3);
    padding: 0 15px;
}
.detaile-hiddle-text{

}
.detaile-alert{
    margin: 0 auto;
    margin-top: 100px;

    width: 100%;
    max-width: 600px;
    background-color: #FFF
}
.detaile-alert h2{
    background: linear-gradient(90deg,#ff8154,#ff8154);
    position: relative;
    height: 47px;
    line-height: 47px;
    color: #FFF;
    text-align: center
}
.alert-text{
    padding: 20px 30px;
    text-align: center
}
.alert-text textarea{
    display: inline-block;
    width: 100%;
    height: 220px;
    line-height: 1.5;
    font-size: 12px;
    text-align: left;
    border: 1px dashed #FE4B68;
    background-color: #FFF6F2;
    resize: none;
    box-sizing: border-box;
    overflow: auto;
    /* display: none; */
    padding: 14px;
    color: #000;
}
.alert-text .bar{
    padding-top: 15px;
}
.alert-text .bar button.copy-text{
    background: rgb(103, 207, 132);
}
.alert-text .bar button{
    outline: none;
    border-radius: 3px !important;
    color: rgb(255, 255, 255);
    display: inline-block;
    width: 70%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(90deg,#FF8154,#Fc3E58);
}
.tip{
    padding: 10px;
    margin: 0;
    color: #828888;
    text-align: center;
    font-size: 12px;
    background-color: #F6F7F6;
}

*{
    box-sizing: border-box;
}








