<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunwa.taobaoke.dao.PIdMapper">
  <!--<resultMap id="BaseResultMap" type="com.yunwa.taobaoke.pojo.PId">
    <id column="p_id" jdbcType="VARCHAR" property="pId" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="pid_name" jdbcType="VARCHAR" property="pidName" />
  </resultMap>-->
  <sql id="Base_Column_List">
    p_id, create_time, pid_name
  </sql>
  <!--<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from p_id_table
    where p_id = #{pId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from p_id_table
    where p_id = #{pId,jdbcType=VARCHAR}
  </delete>-->
  <insert id="insertPid" parameterType="com.yunwa.taobaoke.pojo.PId">
    insert into p_id_table (p_id, create_time, pid_name)
    values (#{p_id,jdbcType=VARCHAR}, #{create_time,jdbcType=VARCHAR}, #{pid_name,jdbcType=VARCHAR})
  </insert>
 <!-- <insert id="insertSelective" parameterType="com.yunwa.taobaoke.pojo.PId">
    insert into p_id_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pId != null">
        p_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="pidName != null">
        pid_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pId != null">
        #{pId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="pidName != null">
        #{pidName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>-->
  <!--<update id="updateByPrimaryKeySelective" parameterType="com.yunwa.taobaoke.pojo.PId">
    update p_id_table
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="pidName != null">
        pid_name = #{pidName,jdbcType=VARCHAR},
      </if>
    </set>
    where p_id = #{pId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunwa.taobaoke.pojo.PId">
    update p_id_table
    set create_time = #{createTime,jdbcType=VARCHAR},
      pid_name = #{pidName,jdbcType=VARCHAR}
    where p_id = #{pId,jdbcType=VARCHAR}
  </update>-->
</mapper>